[submodule "Excited/vendor/spdlog"]
	path = Excited/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Excited/vendor/GLFW"]
	path = Excited/vendor/GLFW
	url = https://github.com/resembleDeity/glfw
[submodule "Excited/vendor/imgui"]
	path = Excited/vendor/imgui
	url = https://github.com/resembleDeity/imgui
